<%= form_for(:user, url: registration_path(:user), html: {class: 'myform'}) do |f| %>

    <div class="form-group">
      <%= f.label :login, 'Логин', class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :login, autofocus: true, class: 'form-control', placeholder: 'Логин' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, 'Email', class: 'control-label' %>
      <div class="controls">
        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, 'Пароль', class: 'control-label'  %>
      <div class="control">
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Пароль' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, 'Пароль', class: 'control-label'  %>
      <div class="control">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Подтвердите пароль' %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit 'Зарегистрироваться', class: 'btn btn-block' %>
    </div>
<% end %>