<% provide :title, 'Вход' %>
<%= render 'shared/main_nav' %>
<%= render 'shared/hero'  %>
<div class="container content">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= render 'shared/flash_messages' %>
      <%= render 'shared/login_form'  %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
