<% if current_user %>
    <%= form_for(@comment, html: { class: 'myform', novalidate: '', id: 'mycomment' }) do |f| %>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 wow fadeInUp" style="visibility: hidden; -webkit-animation-name: none;">
        <%= render 'shared/flash_messages' unless flash[:danger].nil? %>
        <div class="form-group">
          <%= f.label :content, 'Введите ваш комментарий...', html: { class: 'control-label', for: 'contact-message' } %>
          <div class="controls">
            <%= f.text_area :content, placeholder: 'Введите ваш комментарий',
                                      class: 'form-control input-lg requiredField',
                                      row: '3',
                                      :'data-error-empty' => 'Пожалуйста введите комментарий' %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <%= f.hidden_field :post_id, value: @post.id %>
              <%= f.button 'Отправить', class: 'btn btn-block', :'data-error-message' => 'Ошибка!', :'data-sending-messag' => 'Отправка...'    %>
              <input type="hidden" name="submitted" id="submitted3" value="true">
            </div>
          </div>
        </div>

      </div>
    </div>
    <% end %>
<% else %>
    <%= form_for(@comment, html: { class: 'myform', novalidate: '', id: 'mycomment' }) do |f| %>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 wow fadeInUp" style="visibility: hidden; -webkit-animation-name: none;">
            <%= render 'shared/flash_messages' unless flash[:danger].nil? %>
            <div class="form-group">
              <%= f.label :content, 'Введите ваш комментарий...', html: { class: 'control-label', for: 'contact-message' } %>
              <div class="controls">
                <%= f.text_area :content, placeholder: 'Введите ваш комментарий',
                                class: 'form-control input-lg requiredField',
                                row: '3',
                                :'data-error-empty' => 'Пожалуйста введите комментарий' %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <%= f.label :name, 'Имя' %>
                  <div class="controls">
                    <%= f.text_field :name, placeholder: 'Имя', class: 'form-control' %>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <%= f.label :email, 'Email' %>
                  <div class="controls">
                    <%= f.text_field :email, placeholder: 'Email', class: 'form-control' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                  <%= f.hidden_field :post_id, value: @post.id %>
                  <%= f.button 'Отправить', class: 'btn btn-block', :'data-error-message' => 'Ошибка!', :'data-sending-messag' => 'Отправка...'    %>
                  <input type="hidden" name="submitted" id="submitted3" value="true">
                </div>
              </div>
            </div>

          </div>
        </div>
    <% end %>
<% end %>