<%= form_for(@post,  html: { class: 'myform'}) do |f| %>

    <div class="form-group">
      <%= f.label :title, 'Заголовок поста', html: { class: 'control-label' } %>
      <div class="controls">
        <%= f.text_field :title, placeholder: 'Заголовок поста',
                        class: 'form-control input-lg requiredField'%>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :content, 'Контент поста', html: { class: 'control-label' } %>
      <div class="controls">
        <%= f.cktext_area :content, placeholder: 'Контент поста',
                        class: 'form-control input-lg requiredField',
                        row: '3', :ckeditor => {:language => 'ru'} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :category, 'Категория поста', class: 'control-label' %>
      <div class="controls">
        <%= f.select :category_id, Category.all.collect { |c| [c.name, c.id] }, { include_blank: true },
                     placeholder: 'Категоия поста',
                     class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <%= f.submit 'Отправить', class: 'btn' %>
        </div>
      </div>
    </div>

<% end %>
