<% provide :title, 'Создание нового поста' %>
<%= render 'shared/main_nav' %>
<%= render 'shared/hero'  %>
<div class="container content">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>Создание нового поста</h1>
      <% if error.any? %>
        <% error.each do |msg| %>
          <div class="alert alert-danger"><%= msg %></div>
        <% end %>
      <% end %>
      <%= render 'new_post_form' %>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>,