<% provide :title, @post.title %>
<%= render 'shared/main_nav' %>
<%= render 'shared/hero'  %>
<%= render 'breadcrumb' %>
<div class="container content">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= render 'shared/flash_messages' unless flash[:success].nil? %>
      <div class="post-date">
        <%= time_ago_in_words(@post.created_at) %> |
        <%= link_to @post.user.login, @post.user %> |
        <%= link_to('Редактировать', edit_post_path(@post)) if current_user == @post.user %>
        <span><a href=""><%= "Комментариев #{ @post.comments.count }" %></a></span>
      </div>
      <h1><%= @post.title %></h1>
      <%= @post.content %>

      <div id="author" class="clearfix">
        <img class="img-circle" alt="" src="../assets/author-sing.jpg" height="96" width="96">
        <div class="author-info">
          <h3><%= link_to @post.user.login, user_path(@post.user) %></h3>
          <p>If rubbin' frozen dirt in your crotch is wrong, hey I don't wanna be right. You can follow her on <a href="">Twitter</a>.</p>
        </div>
      </div>

      <h3><%= "Комментариев #{ @post.comments.count }" %></h3>
      <%= render @comments %>

      <div id="comments_pagination">
        <span class="page-numbers current">1</span>
        <a class="page-numbers" href="#">2</a>
        <a class="next page-numbers" href="#"><i class="icon-arrow-right2"></i></a>
      </div>

      <h3>Добавить новый комментарий</h3>
      <%= render 'comment_form' %>

    </div>
  </div>
</div>
<%= render 'shared/footer' %>