<% provide :title, @post.title %>
<%= render 'shared/main_nav' %>
<%= render 'shared/hero'  %>
<%= render 'breadcrumb' %>
<div class="container content">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= render 'shared/flash_messages' unless flash[:success].nil? %>
      <h1><%= @post.title %></h1>
      <%= @post.content %>

      <div class="post-date">
        <%= time_ago_in_words(@post.created_at) %> |
        <%= link_to @post.user.login, @post.user %> |
        <%= link_to('Редактировать', edit_post_path(@post)) if current_user == @post.user %>
        <span><a href="#disqus_thread"><%= "Комментариев" %></a></span>
      </div>
      <%= render 'comments' %>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
<script type="text/javascript">
  var disqus_shortname = 'endenwer'; // required: replace example with your forum shortname

  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
